{# This is the dashboard template, it extends the base template #}
{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <main class="min-h-screen flex flex-col items-center justify-center">
        <h1 class="text-7xl font-bold">Dashboard</h1>
        <p class="text-xl text-gray-500 mt-4">Welcome to your dashboard</p>
    </main>
{% endblock %}
