{# This is the landing template, it extends the base template #}
{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <main class="min-h-screen flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-blue-700">Welcome to the uCodes Twig Starter Template</h1>
        <p class="text-3xl text-gray-400">Edit the files to get started</p>
        <p class="text-lg text-green-300">Read the Readme</p>

    </main>
{% endblock %}
